# General config
swagger: "2.0"
info:
  title: "Fetch projects"
  description: "Example APIs calling internal project APIs"
  version: "1.0.0"

# HOSTNAME CHANGES
host: "my-k8s-app.endpoints.wave16-joan.cloud.goog"

# Mime types to/from API
consumes:
- "application/json"
produces:
- "application/json"

# App Engine endpoints
paths:
  "/projects":
    get:
      description: "Returns list of projects under owner name"
      operationId: "getProjects"
      produces:
      - "application/json"
      responses:
        200:          
          description: "Return string of projects"
          schema:
            $ref: "#/definitions/projects"
      security:
      - api_key: []
  "/blobs":
    post:
      description: "Returns list of blobs in a bucket"
      operationId: "getBlobs"
      produces:
      - "text/plain"
      responses:
        200:
          description: "Returns list of blobs"
          schema:
            $ref: '#/definitions/blobs'
        404:
          description: "Bucket not found"
          schema:
            $ref: '#/definitions/Error'
        500:
          description: "Server unavailable"
          schema:
            $ref: '#/definitions/Error'
      parameters:
      - description: "bucket to read"
        in: "body"
        name: "bucket"
        required: true
        schema:
          $ref: '#/definitions/blobs'
      security:
      - api_key: []
  "/auth":
    description: "checks authorization method"
    operationId: "getAuth"
    produces:
    - "application/json"
    responses:
      200:
        description: "return auth method"
        schema:
          $ref: '#/definitions/auth'
    security:
      - google_jwt: []
      - gae_default_service_account: []
      - google_service_account: []


# Object types
definitions:
  projects:
    type: "object"
    properties:
      message:
        type: "string"
  blobs:
    type: 'object'
    properties:
      message:
        type: 'string'
  Error:
    type: 'object'
    properties:
      message:
        type: 'string'
  auth:
    type: 'object'
    properties:
      message:
        type: 'string'

# Auth methods
securityDefinitions:
  api_key:
    type: "apiKey"
    name: "key"
    in: "query"

  google_jwt:
    authorizationUrl: ""
    flow: "implicit"
    type: "oauth2"
    x-google-issuer: "jwt-client.endpoints.sample.google.com"
    x-google-jwks_uri: "https://www.googleapis.com/service_accounts/v1/jwk/wave16-joan@appspot.gserviceaccount.com"
    x-google-audiences: "my-k8s-app.endpoints.wave16-joan.cloud.goog"
    x-google-allow: "configured"
  
  gae_default_service_account:
    authorizationUrl: ""
    flow: "implicit"
    type: "oauth2"
    x-google-issuer: "wave16-joan@appspot.gserviceaccount.com"
    x-google-jwks_uri: "https://www.googleapis.com/robot/v1/metadata/x509/wave16-joan@appspot.gserviceaccount.com"
    x-google-audiences: "my-k8s-app.endpoints.wave16-joan.google.com"

  google_service_account:
    authorizationUrl: ""
    flow: "implicit"
    type: "oauth2"
    x-google-issuer: "wave16-joan@appspot.gserviceaccount.com"
    x-google-jwks_uri: "https://www.googleapis.com/robot/v1/metadata/x509/wave16-joan@appspot.gserviceaccount.com"
    x-google-audiences: "my-k8s-app.endpoints.wave16-joan.google.com"


